.idea/
.ipynb_checkpoints/
Data/baseball/
Data/hockey/
Data/
hockey_images/
baseball_images/
Model/
Model/variables/variables.data-00000-of-00001
Model/variables/variables.index
video/
test.py
file_test.mp4

